<form name="user" method="POST" action="{{ path('behat_tests_submit') }}">
    <input id="name" type="text" name="name" />
    <input id="age" type="text" name="age" />
    <select id="speciality" name="speciality">
        <option value="programmer">Programmer</option>
        <option value="manager">Manager</option>
    </select>

    <input type="submit" value="Send spec info" />
</form>
