{{ page }}

<ul>
    <li>
        <a href="{{ path('behat_tests_page', {'page': 'page10'}) }}">p10</a>
    </li>
    <li>
        <a href="{{ path('behat_tests_page', {'page': 'page0'}) }}">p0</a>
    </li>
    <li>
        <a href="{{ path('behat_tests_page', {'page': 'page22'}) }}">p22</a>
    </li>
</ul>